body{
    margin: 0;
    padding: 0;
    background: linear-gradient(140deg,aqua,lightgreen);
   
    background-size: cover;
    height: 100vh;
}
.logo{
    color: rgb(240, 3, 3);
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: expanded;
   text-decoration: underline 3px solid rgb(245, 241, 241) ;

}
.logo b{
    color: rgb(0, 0, 0);
}
.para{
    width: 600px;
    height: 40px;
    color: rgb(0, 0, 0);
    margin: 65px;
    font-family: sans-serif;
    font-size: 2rem;

}
.para p a{
    color: rgb(0, 0, 0);
    text-decoration: underline 2px solid wheat;
}
.butn{
    color: white;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 1px solid wheat;
    border-radius: 20px;
    margin-left: 400px;
}
.butn button {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;

}
.butn button a{
    display: flex;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.butn button a:hover{
    color: white;
  
    
}